@tailwind base;
@tailwind components;

@font-face {
  font-family: 'NeuePlak';
  src: url('/public/fonts/SVN-NeuePlakRegular.otf') format('otf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'NeuePlak-Bold';
  src: url('/public/fonts/SVN-NeuePlakBold.otf') format('otf');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'NeuePlak-WideBold';
  src: url('/public/fonts/SVN-NeuePlakWideBold.otf') format('otf');
  font-weight: 700;
  font-display: swap;
}

@tailwind utilities;

@layer {
  :root {
    --blue-color: #2f82ff;
    --dark-blue-color: #1a28f1dc;
    --yellow-color: #fac80f;
    --violet-color: #5a31f4;
    --green-color: #3c811f;
    --redish-color: #f15f6f;
    --grey-color: #f8f8f8;
    --light-error-color: #fd010169;
    --error-color: #ed4337;
    --error-secondary-color: #f02f2fd8;
    --success-color: #6cc070;
    --shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --shadow-2: rgba(99, 99, 99, 0.1) 0px 0px 4px 0px;
    --cubic-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  html,
  body {
    @apply overflow-hidden font-sans;
  }
}
